.my-basket{
    display: block;
    margin-left: 40%;
}

.delete-book{
    margin-top: 60px;
    margin-left: 22.5%;
    margin-right: 60%;
    margin-bottom: 20px;
}

.items{
    margin-left: 10%;
    margin-right: 10%;
}