.root-block{
    display: block;
    margin-top: 2%;
    margin-left: 5%;
}

.root-block img{
    float: left;
    width: 200px;
}

.discription{
    display: block;
    margin-top: 200px;
    margin-left: 5%;
}