.root-block{
    display: block;
    margin-top: 2%;
    margin-left: 5%;
}

.root-block img{
    float: left;
    height: 300px;
}

.root-block ul{
    margin-left: 250px;
    margin-right: 10%;
}

.root-block ul li{
    margin-top: 55px;
}

.discription{
    display: block;
    margin-top: 50px;
    margin-left: 5%;
}

